################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicNopSync/BasicNopSync/BasicNopSync/bin
/BasicNopSync/BasicNopSync/BasicNopSync/obj
